body {
    background-color: #D8AE71;
    border: 2px solid black;
    margin: 0;
    padding: 5% 5% 10%;
    height: min-content;

}

h1 {
   text-align: center;
    margin-bottom: 7.5%;
}

.container {

    display: grid;

    grid-template-columns: 700px auto;
    
}

.playground {

    padding-left: 10%;
    height: 460px; 
    width: 460px;
    
    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    gap: 5px;
}

.tiles {

    background-color: beige;
}

.score {

    grid-column: 2;
    grid-row: 1 / 2;
    font-size: 25px;

}

.score > h2  {

    margin-top: 0;
    text-align: center;
}

#score-container {

    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-items: center;
}


#score-container > div {

    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;

}

.pts {
    text-align: center;
    padding: auto;
    font-size: 40px;
}

.choose {

    grid-column: 2;
    grid-row: 2 / 3;
    font-size: 25px;

    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.o-mark {

    background-image: url("images/tic-tac-toe-o.png");
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center center;
}

.x-mark {

    background-image: url("images/tic-tac-toe-x.png");
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center center;
}


.comment {

    background-color: #453823;
    height: 100px;
    color: aliceblue;
    font-size: 25px;
    text-align: center;
}

#result {

    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(191, 191, 191, 0.3);
}


#result-dialog {

    position: absolute;
    top: 30vh;
    left: 49.5vw;
    font-size: 50px;
    color: rgba(0, 0, 0, .7);
    padding: 20px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


#result button {
    position: absolute;
    height: 40px;
    width: 100px;
    top: 50vh;
    left: 47vw;
}
